/* ------------ Root config ------------ */

:root {
  --font-size-sm: 1.2rem;
  --font-size-md: 1.4rem;
  --font-size-lg: 1.8rem;

  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
}

@font-face {
  font-family: "iso8";
  font-display: "swap";
  src: url(./public/iso8.ttf) format("truetype");
}

/* ------------ Base styles ------------ */
html {
  background-color: #111111;
  line-height: 1.6;
}

h1 {
  font-size: var(--font-size-lg);
}

h2 {
  font-size: var(--font-size-md);
}

h1,
h2,
a {
  color: #fa6607;
}

a {
  font-family: "iso8", sans-serif;
}

p,
li {
  color: white;
  font-size: var(--font-size-sm);
}

.body-layout {
  display: flex;
  justify-content: space-between;
}

footer {
  width: 190px;
}

@media (max-width: 600px) {
  .body-layout {
    display: flex;
    flex-direction: column;
  }

  footer {
    width: 100%;
  }
}

/* ------------ Utils ------------ */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
